<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); %>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); %>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>You don't need much</h1>
                <p class="lead">Four things</p>
                <p class="text-start fw-light">There are just four simple things I need to have <i>a perfect day</i> - hobby, exercise, sleep, and eat healthy.
                   And yet, they are rare. I started tracking my days against these in a notebook a month ago and
                   found it help me focus and find balance. 
                </p>
                <p class="text-start fw-light">I'm hope to turn this into an app where you can track your goals and have your own
                   perfect day.
                </p>
            </div>
        </div>
        <%- include('layouts/scripts'); %>
    </body>
</html>
