<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); %>
<style>
    .month {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }
    .day {
        fill: #fff;
        stroke: #ccc;
    }
    text    {
        font-family:sans-serif;
        font-size:1.5em;
    }
    .dayLabel   {
        fill:#aaa;
        font-size:0.8em;
    }
    .monthLabel {
        text-anchor:middle;
        font-size:0.8em;
        fill:#aaa;
    }
    .yearLabel  {
        fill:#aaa;
        font-size:1.2em;
    }
    
    .key    {font-size:0.5em;}
    
</style>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); %>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Welcome, Sid</h1>
                <p class="lead">Have a perfect day</p>
            </div>
        </div>
        <div class="container" style="height: 600px; text-align: center">
            <svg class="calendar" width="100%" height="100%" style="max-width:960px"></svg>
        </div>
        <%- include('layouts/scripts'); %>
        <script type="module" src="js/d3viz/year_summary.js"></script>

    </body>
</html>
