<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); %>
    <body>
        <!-- Responsive navbar-->
        <%- include('layouts/navbar'); %>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>404 Page Not Found</h1>
            </div>
        </div>
        <%- include('layouts/scripts'); %>

    </body>
</html>
